<div class="flex flex-row justify-content-center align-items-center ">
<div class="card">
  
  <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <h4>Dashboard</h4>
        </ng-template>
    </p-toolbar>

    <p class="m-0">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
        quas!
    </p>

    
</div>
</div>
